body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#interactionlayer {
  position: absolute;
  left: 0;
  top: 0;
  touch-action: none;
}

#appcontainer {
  height: 100%;
}
body {
  height: 100%;
}
html {
  height: 100%;
}

#root {
  height: 100%;
}

#ui-container {
  height: 100%;
  width: 400px;
  position: relative;
  display: inline-block;
  margin-right: 0;
  vertical-align: top;
}

#drawing-canvas-container {
  display: inline-block;
  height: 100%;
  width: calc(100% - 400px);
  margin: auto;
  position: relative;
  vertical-align: top;
  background-color: beige;
}

#drawing-canvas{
  position: absolute;
  height: 750px;
  width: 750px;
  vertical-align: middle;
  background-color: white;
  top: calc(50% - 375px);
  left: calc(50% - 375px);
  touch-action: none;

}

.slider {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -4px;

}

#ui-container {
  z-index: 10;
  background-color: white;
}